<?xml version="1.0" ?>
<model>
  <name>BusinessMan</name>
  <version>1.0</version>
  <description>A description of your model</description>
  <sdf version="1.7">model.sdf<model class="sdf"></model></sdf>
  <author>
    <name>Stefano</name>
    <email>your.email@example.com</email>
  </author>
  
</model>

